body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Montserrat, sans-serif !important;
    background-color: darkgray;
}

.container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
}

h1 {
    font-size: 5vw;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    
    
}



.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.player-choice,
.computer-choice {
    flex: 1 0 30%;
    max-width: 300px;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 70px;
    flex-wrap: wrap;
    
}

button {
    margin: 0 10px 10px;
    padding: 10px 20px;
    font-size: 90%;
    border-radius: 5%;
}
button:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

img {
    max-width: 75%;
    height: auto;
}

#result{
    font-size: 25px;
    font-family: Montserrat, sans-serif;
}


.player-score {
    margin-left: auto;
    margin-right: 40px;
    order: 2;
    
}



.computer-score {
    margin-right: auto;
    margin-left: 40px;
    order: 3;
    
}

.prompt{
    font-size: 150%;
}

