/* CSS styles for the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Montserrat, sans-serif !important;
    background-color: darkgray;
}

/* CSS styles for the container */
.container {

    text-align: center;
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    border: 2px;
}


/* CSS styles for the heading */
h1 {
    font-size: 5vw;
}

/* CSS styles for the scoreboard */
.scoreboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;


}


/* CSS styles for the game section */
.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* CSS styles for player and computer choices */
.player-choice,
.computer-choice {
    flex: 1 0 30%;
    max-width: 300px;
}

/* CSS styles for the choices section */
.choices {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 70px;
    flex-wrap: wrap;

}

/* CSS styles for buttons */
button {
    margin: 0 10px 10px;
    padding: 10px 20px;
    font-size: 90%;
    border-radius: 5%;
}

/* CSS styles for button hover effect */
button:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}


/* CSS styles for images */
img {
    max-width: 75%;
    height: auto;
}

/* CSS styles for images */
.player-choice img,
.computer-choice img {
    width: 200px;
    height: 200px;
    
}


/* CSS styles for the result */
#result {
    font-size: 25px;
    font-family: Montserrat, sans-serif;
}

/* CSS styles for the final result */
#final-result {
    font-size: 25px;
    font-family: Montserrat, sans-serif;
}


/* CSS styles for the player score */
.player-score {
    margin-left: auto;
    margin-right: 40px;
    order: 2;

}


/* CSS styles for the computer score */
.computer-score {
    margin-right: auto;
    margin-left: 40px;
    order: 3;

}

/* CSS styles for the prompt */
.prompt {
    font-size: 150%;
}